:root {
        --main-color: #212121;
        --background: #FFFFFF;
        --background-team: #F5F4FA;
        --description: #000000;
        --accent: #2196F3;
        --hero: #2F303A;
        --order: #188CE8;
        --contacts: #757575;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-color);
    background-color: var(--background);
}

.list {
        list-style: none;
}

/* logo */

.logo { 
        text-decoration: none;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
}

.logo-web {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        color: var(--accent);
}

.logo-studio {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;         
        color: var(--description);
}

.logo-wite {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        color: var(--background);
}

/* hidden */
.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}
/* naigation */

.nav-list .nav-link {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: var(--main-color);
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus,
.nav-list .nav-link:active  {
        color: var(--accent);
}

.nav-list .nav-link.active {
        color: var(--accent);
}

/* .hero */

.hero {
        background: var(--hero);
}

.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        color: var(--background);
        /* or 136% */
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}

/* .buttons */

.button-order {
        /* position: absolute; */
        width: 216px;
        height: 50px;
        left: 692px;
        top: 430px;
        background: var(--accent);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

.button-order .order-text {
        width: 152px;
        height: 30px;
        left: 724px;
        top: 440px;
        color: var(--background);
}

.button-order:hover

 /* footer */

.footer {          
        background: var(--hero);      
}

.map,
.mail,
.tel {
        text-decoration: none;
        font-style: normal;
}

.mail,
.tel {
        color: var(--contacts);
}

.map {
        color: var(--background);
}
        
.mail-footer,
.tel-footer {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
}

.map:hover,
.map:focus,
.mail-footer:hover,
.mail-footer:focus,
.tel-footer:hover,
.tel-footer:focus,
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
        color: var(--accent);
}

/* portfolio */

.portfolio-buttons {
        list-style: none;
        font-family: inherit;
}

.portfolio-buttons .portfolio-button {
        border: none;
        /* position: absolute; */
        width: 73px;
        height: 38px;
        left: 512px;
        top: 174px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}

.projects-list .project {
        text-decoration: none;
        color: var(--main);
}

.portfolio-buttons .portfolio-button:hover


